<div>
    <h2>Delivery method</h2>
    
    <p>How do you want your order delivered ?</p>
    <%= f.radio_button :delivery_option, "Pickup Station"%>
    <%= f.label :delivery_option_station, "Pickup Station"%>
    <%= f.radio_button :delivery_option, "Home"%>
    <%= f.label :delivery_option_home, "Deliver to your home or office"%>
</div>