<main role="main">
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
          <% @products.each do |product|%>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                  <% if product.image.attached?%>
                    <%= image_tag product.image%>
                  <% end %>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <%= link_to add_item_cart_path({id: product.id}), remote: true, method: :post do %>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
                      <% end %>
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    <small class="text-muted">Ksh.<%= product.price%></small>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    </main>