<p>the product will be shown here after being created</p>

<p>this is the pae the user will see if they click in the image</p>

<p><%= @product.price%></p>

<%= image_tag @product.image%>

<%= link_to "Edit", edit_product_path , class: "btn btn-primary"%>